@media screen and (min-width: 769px) {
    .contact {
            &__bg {
                margin: 35px 0 0!important;
                padding: 70px 0!important;
            }
            .inner {
                width: 700px!important;
            }
            &__lead {
                color: #B3655D!important;
                font-size: 25px!important;
                font-weight: 500!important;
                letter-spacing: .04em!important;
                text-indent: .2em!important;
                text-align: center!important;
            }
            &__ttl {
                font-size: 30px!important;
                font-weight: 600!important;
                letter-spacing: .04em!important;
                text-align: center!important;
            }
            .mfp_err {
                display: none;
                text-align: left!important;
                margin: 5px 0px 0px 0px!important;
                padding: 3px 0px 5px 17px!important;
                color: #F00!important;
                font-size: 12px!important;
            }
            .must {
                margin: 0 10px 0 0!important;
                padding: 8px!important;
                background: #587B34!important;
                color: #fff!important;
                font-size: 16px!important;
            }
            &__term {
                margin: 30px 0 0!important;
            }
            &__desc {
                margin: 10px 0 0!important;
            }
            &__block01 {
                display: flex!important;
                justify-content: space-between!important;
                align-items: center!important;
            }
            &__name {
                width: 330px!important;
                padding: 5px!important;
            }
            &__full {
                width: 100%!important;
                padding: 5px!important;
                & + & {
                    margin: 10px 0 0!important;
                }
            }
            textarea {
                height: 300px!important;
            }
            .mfp_buttons {
                margin: 40px auto 0!important;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: row-reverse;
                button {
                    width: 300px!important;
                    margin: auto;
                    display: block!important;
                    position: relative!important;
                    padding: 15px 0!important;
                    border: 2px solid #111!important;
                    color: #587B34!important;
                    display: block!important;
                    font-size: 25px!important;
                    font-weight: 600!important;
                    text-align: center!important;
                    overflow: hidden!important;
                    z-index: 1!important;
                    letter-spacing: .07em!important;
                    background-color: #fff!important;
                    &::before {
                        position: absolute!important;
                        top: 0!important;
                        left: 0!important;
                        width: 100%!important;
                        height: 100%!important;
                        background: #587B34!important;
                        transform: translateY(-100%)!important;
                        transition: 0.3s ease-in-out!important;
                        z-index: -1!important;
                        content: ""!important;
                    }
                    &:hover {
                        cursor: pointer!important;
                        color: #fff!important;
                        border: 2px solid #587B34!important;
                        &::before {
                            transform: translateY(0)!important;
                        }
                    }
                }
                #mfp_button_cancel {
                    color: #B3655D!important;
                    &::before {
                        background: #B3655D!important;
                    }
                    &:hover {
                        color: #fff!important;
                        border: 2px solid #B3655D!important;
                    }
                }
            }
            // div#mfp_overlay {
            //     position: absolute!important;
            //     display: none;
            //     z-index: 10001;
            // }
            // div#mfp_overlay_inner {
            //     background-color: #FFF!important;
            //     padding: 15px!important;
            //     margin: 0px auto!important;
            //     border-radius: 5px!important;
            //     box-shadow: 0px 0px 10px #000!important;
            //     width: 640px!important;
            //     max-width: 90%!important;
            // }
            // div#mfp_overlay_background {
            //     background-color: #000;
            //     position: absolute;
            //     display: none;
            //     z-index: 10000;
            // }
            // div#mfp_loading {
            //     z-index: 20001;
            //     position: absolute;
            //     display: none;
            //     width: 40px;
            //     height: 40px;
            //     background-image: url(_images/mfp_loading.gif);
            // }
            // div#mfp_loading_screen {
            //     z-index: 20000;
            //     opacity: 0.8;
            //     display: none;
            //     background-color: #000;
            //     position: absolute;
            // }
            h4 {
                margin: 0 0 10px;
                color: #587B34;
                font-size: 25px;
                font-weight: bold;
                text-align: center;
                letter-spacing: .04em;
            }
            tr {
                border-bottom: 1px solid;
            }
            th {
                width: 350px;
                padding: 20px 0;
                font-size: 20px;
                text-align: center;
                vertical-align: middle;
                letter-spacing: .04em;
            }
            td {
                width: 350px;
                padding: 20px 0;
                font-size: 20px;
                text-align: center;
                vertical-align: middle;
                letter-spacing: .04em;
            }
    }
}