@media screen and (min-width: 769px) {
    .header {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100px;
        z-index: 200;
        &__bg {
            height: 100%;
            padding: 40px 10px;
            background-color: snow;
            background-image: radial-gradient(circle at 100% 150%, snow 24%, #fff 24%, #fff 28%, snow 28%, snow 36%, #fff 36%, #fff 40%, transparent 40%, transparent), radial-gradient(circle at 0 150%, snow 24%, #fff 24%, #fff 28%, snow 28%, snow 36%, #fff 36%, #fff 40%, transparent 40%, transparent), radial-gradient(circle at 50% 100%, #fff 10%, snow 10%, snow 23%, #fff 23%, #fff 30%, snow 30%, snow 43%, #fff 43%, #fff 50%, snow 50%, snow 63%, #fff 63%, #fff 71%, transparent 71%, transparent), radial-gradient(circle at 100% 50%, #fff 5%, snow 5%, snow 15%, #fff 15%, #fff 20%, snow 20%, snow 29%, #fff 29%, #fff 34%, snow 34%, snow 44%, #fff 44%, #fff 49%, transparent 49%, transparent), radial-gradient(circle at 0 50%, #fff 5%, snow 5%, snow 15%, #fff 15%, #fff 20%, snow 20%, snow 29%, #fff 29%, #fff 34%, snow 34%, snow 44%, #fff 44%, #fff 49%, transparent 49%, transparent);
            background-size: 50px 25px;
        }
        &__logo {
            display: flex;
            align-items: center;
            width: 50px;
            margin: 0 auto;
            writing-mode: vertical-rl;
            text-orientation: upright;
            font-size: 25px;
            font-weight: 600;
            letter-spacing: .2em;
        }
        &__menu {
            position: relative;
            margin: 80px auto 0;
            width: 35px;
            height: 32px;
            transition: all .3s;
            transform: translateY(-50%);
            z-index: 100;
            cursor: pointer;
            span {
                position: absolute;
                display: inline-block;
                transition: all .3s;
                left: 0;
                width: 100%;
                height: 2px;
                border-radius: 2px;
                background: #222;
                &:nth-of-type(1) {
                    top: 0;
                }
                &:nth-of-type(2) {
                    top: 15px;
                }
                &:nth-of-type(3) {
                    bottom: 0;
                }
            }
        }
        &__menu.active {
            span:nth-of-type(1) {
                transform: translateY(15px) rotate(-315deg); background: #333;
            }span:nth-of-type(2) {
                opacity: 0;
            }span:nth-of-type(3) {
                transform: translateY(-15px) rotate(315deg); background: #333;
            }
        }
        &__btn {
            position: relative;
            writing-mode: vertical-rl;
            width: 50px;
            margin: 60px auto 0;
            font-size: 20px;
            letter-spacing: .2em;
            background: #fff;
            &::before {
                position: absolute;
                top: 30px;
                left: 50%;
                width: 90px;
                height: 70px;
                background: url(../img/header_icon.png) no-repeat 50% 0;
                background-size: contain;
                transform: translate(-50%, -100%);
                z-index: 300;
                content: "";
            }
            a {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                padding: 20px 0;
                border: 2px solid #222;
                font-weight: 600;
                text-align: center;
                color: #587B34;
                overflow: hidden;
                z-index: 1;
                &:before {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: #587B34;
                    transform: translateY(-100%);
                    content: "";
                    transition: 0.3s ease-in-out;
                    z-index: -1;
                }
                &:hover {
                    border: 2px solid #587B34;
                    color: #fff;
                    &::before {
                        transform: translateY(0%);
                    }
                }
            }
        }
    }
    .mask {
        display:none;
        position:fixed;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background:rgba(0,0,0,.8);
        z-index: 100;
    }
}