@media screen and (min-width: 769px) {
    .service {
        &__bg {
            margin: 35px 0 0;
            padding: 70px 0;
        }
        &__lead {
            color: #B3655D;
            font-size: 25px;
            font-weight: 500;
            letter-spacing: .04em;
            text-indent: .2em;
        }
        &__ttl {
            font-size: 30px;
            font-weight: 600;
            letter-spacing: .04em;
        }
        &__txt01 {
            margin: 40px 0 0;
        }
        &__tab-list {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 650px;
            margin: 80px auto 0;
        }
        &__tab-item {
            position: relative;
            padding:0 0 50px;
            cursor: pointer;
            &::before {
                position: absolute;
                bottom: 0;
                left: 50%;
                width: 22px;
                height: 22px;
                border: 1px solid #222;
                background: #fff;
                transform: translate(-50%, 0);
                border-radius: 50%;
                content: "";
            }
        }
        &__tab-item.active {
            &::before {
                position: absolute;
                border: 1px solid #8AB45F;
                background: #8AB45F;
                transform:translate(-50%, 0) scale(1.1);
            }
            .service__tab-txt {
                transition: .3s;
                color: #587B34;
            }
        }
        &__tab-txt {
            color: #222;
            font-size: 22px;
            font-weight: 600;
            line-height: 1.6;
            text-align: center;
            letter-spacing: .04em;
        }
        &__list {
            margin: -11px 0 0;
            border-top: 2px solid #B3655D;
            border-bottom: 2px solid #B3655D;
            background-color:#FDF5F5;
            background-image:
            radial-gradient(circle at 100% 150%, #FDF5F5 24%, #fff 24%, #fff 28%, #FDF5F5 28%, #FDF5F5 36%, #fff 36%, #fff 40%, transparent 40%, transparent),
            radial-gradient(circle at 0    150%, #FDF5F5 24%, #fff 24%, #fff 28%, #FDF5F5 28%, #FDF5F5 36%, #fff 36%, #fff 40%, transparent 40%, transparent),
            radial-gradient(circle at 50%  100%, #fff 10%, #FDF5F5 10%, #FDF5F5 23%, #fff 23%, #fff 30%, #FDF5F5 30%, #FDF5F5 43%, #fff 43%, #fff 50%, #FDF5F5 50%, #FDF5F5 63%, #fff 63%, #fff 71%, transparent 71%, transparent),
            radial-gradient(circle at 100% 50%, #fff 5%, #FDF5F5 5%, #FDF5F5 15%, #fff 15%, #fff 20%, #FDF5F5 20%, #FDF5F5 29%, #fff 29%, #fff 34%, #FDF5F5 34%, #FDF5F5 44%, #fff 44%, #fff 49%, transparent 49%, transparent),
            radial-gradient(circle at 0    50%,#fff 5%, #FDF5F5 5%, #FDF5F5 15%, #fff 15%, #fff 20%, #FDF5F5 20%, #FDF5F5 29%, #fff 29%, #fff 34%, #FDF5F5 34%, #FDF5F5 44%, #fff 44%, #fff 49%, transparent 49%, transparent);
            background-size: 50px 25px;
        }
        &__item {
            display: none;
            padding: 80px 0 ;
            &:nth-of-type(2) {
                .service__item-inner {
                    flex-direction: row-reverse;
                }
            }
        }
        &__item.active {
            display: block;
        }
        &__item-inner {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 1000px;
            margin: 0 auto;
        }
        &__block01 {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 240px;
            height: 240px;
            box-shadow: #E0A7A7 0 0 10px;
            background-color: #fff;
            border-radius: 50%;
        }
        &__pic {
            width: 170px;
        }
        &__block02 {
            width: 700px;
        }
        &__define {
            text-shadow: #fff 0 0 5px;
            color: #B3655D;
            font-size: 30px;
            font-weight: 600;
            text-align: center;
        }
        &__list02 {
            margin: 30px 0 0;
        }
        &__item02 {
            font-size: 22px;
        }
        &__txt02 {
            margin: 30px 0 0;
        }
    }
}