@media screen and (min-width: 769px) {
    .works {
        &__bg {
            padding: 100px 0 0;
        }
        &__ttl {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 290px;
            height: 162px;
            margin: 0 auto;
            font-size: 35px;
            font-weight: 600;
            background:url(../img/fv_bg01.png) no-repeat center/contain;
            z-index: 100;
            .deco {
                color: #B3655D;
                font-size: 25px;
                line-height: 1;
            }
        }
        &__block {
            margin: -85px 0 0;
            background:url(../img/works_bg01.png) no-repeat center/contain;
        }
        &__slide {
            padding: 120px 0 80px;
        }
        &__list {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            width: 750px;
            margin: 0 auto;
        }
        &__txt01 {
            margin: 20px auto 0 125px;
        }
        &__link {
            color: #61A1EB;
            font-size: 18px;
            border-bottom: 1px solid;
            display: inline-block;
            margin: 10px auto 0 125px;
        }
        &__btn01 {
            top: 55%;
            left: -70px;
            width: 133px;
            height: 55px;
            background:url(../img/works_icon01.png) no-repeat center/contain;
            &:hover {
                transition: .3s;
                transform: scale(1.2);
            }
        }
        &__btn02 {
            top: 55%;
            right: -70px;
            width: 133px;
            height: 55px;
            background:url(../img/works_icon01.png) no-repeat center/contain;
            transform: rotate(180deg);
            &:hover {
                transition: .3s;
                transform: rotate(180deg) scale(1.2);
            }
        }
        .swiper-button-prev:after,.swiper-button-next:after {
            content: none;
        }
        &__note {
            margin: -10px 0 0;
            font-size: 17px;
            letter-spacing: .02em;
        }
    }
}